.page.page__chat {
  @apply flex flex-col items-start gap-3 h-full;
  @apply bg-light-100 dark:bg-dark-800;

  max-height: 100vh;
  align-items: stretch;

  .chat__topbar {
    @apply flex justify-between;
    @apply p-3 box-border;

    height: 65px;

    .topbar__logo {
      img {
        max-width: 150px;
      }
    }

    .topbar__right {
      @apply flex gap-3 justify-center items-center;
    }

    .topbar__user {
      @apply flex gap-3 justify-center items-center;

      .topbar__username {
        @apply text-lg font-medium;
      }

      .topbar__avatar .avatar {
        @apply flex justify-center items-center;
        @apply text-base text-light-50 dark:text-dark-50;
        @apply rounded-full;

        width: 32px;
        height: 32px;
      }
    }
  }

  .chat__wrapper {
    @apply flex flex-row items-start gap-3 h-full;

    width: 100%;
    height: 100%;
    flex: 1;
    align-items: stretch;
  }

  .chat__rooms {
    @apply flex flex-col items-center;
    @apply rounded-2xl;
    @apply p-6 box-border;
    @apply bg-light-50 dark:bg-dark-900;

    .rooms_separator {
      @apply bg-light-200 dark:bg-dark-900 my-3;

      width: 100%;
      height: 1px;
    }

    .rooms_list {
      @apply flex flex-col items-center gap-4;
    }

    .room {
      @apply flex justify-center items-center;
      @apply font-semibold text-xl;
      @apply rounded-md shadow-sm;
      @apply border-2 outline-none border-light-200 dark:border-dark-700;
      @apply transition;

      width: 50px;
      height: 50px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        @apply shadow-md rounded-lg;
      }

      &:active {
        @apply rounded-xl;
      }

      /* stylelint-disable-next-line selector-class-pattern */
      &.router-link-active {
        @apply rounded-xl shadow-lg shadow-black/30;
        @apply border-primary-500;
        @apply ring-2 ring-offset-2;
        @apply ring-primary-500/75 dark:ring-primary-500/25;
        @apply ring-offset-light-50 dark:ring-offset-dark-900;
      }
    }
  }

  .chat__room {
    @apply flex flex-col flex-1;
    @apply bg-light-50 dark:bg-dark-900;

    overflow: hidden;
    width: 100%;

    .chatroom {
      @apply flex flex-col flex-1 items-center;

      // 100vh - padding - topbar - gap
      max-height: calc(100vh - (16 * 2px) - 65px - 12px);
    }

    &,
    .room__header {
      @apply rounded-2xl w-full;
    }

    .room__header {
      @apply px-8 py-6 box-border;
      @apply shadow-lg rounded-b-none dark:shadow-black/20;

      .header__description {
        @apply text-sm text-light-600 dark:text-dark-300;
      }
    }

    .room__empty {
      @apply flex self-center;

      width: fit-content;
      height: 100%;
      margin: auto;

      span {
        margin-top: auto;
      }
    }

    .room__components {
      @apply p-8 box-border;
      @apply flex flex-row items-center;
      @apply bg-gradient-to-b from-transparent to-light-50 dark:from-transparent dark:to-dark-900;

      position: relative;
      width: 100%;
      height: 104px;
      max-width: 1200px;

      .input,
      input {
        @apply m-0;

        width: 100%;
      }

      .input input {
        @apply pr-8;
      }

      .room__send {
        @apply text-primary-500;

        position: absolute;
        right: calc(2rem + 8px);

        .icon {
          font-size: 20px;
        }

        &:disabled {
          @apply text-light-600 dark:text-dark-600;

          cursor: not-allowed;
        }
      }

      .room__amount {
        @apply absolute text-xs;

        right: 2rem;
        bottom: 0.5rem;
      }
    }

    .room__content {
      @apply px-8 pt-4 pb-0 box-border;

      position: relative;
      overflow: auto;
      width: 100%;
      max-width: 1000px;
      height: 100%;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        @apply bg-light-50 dark:bg-dark-900;
        @apply rounded-full;
      }

      &::-webkit-scrollbar-thumb {
        @apply bg-light-400 dark:bg-dark-600;
        @apply rounded-full;

        &:hover {
          @apply bg-light-600 dark:bg-dark-400;
        }
      }

      .room__messages {
        @apply flex flex-col justify-end;

        margin-top: auto;
      }

      .message {
        @apply flex flex-row justify-start relative;
        @apply pb-2;

        &:not(&--before) {
          @apply mt-6;
        }

        &__bubble {
          @apply flex flex-col;
          @apply bg-light-100/50 dark:bg-dark-800/50;
          @apply px-4 py-2 rounded-xl rounded-tl-none;

          position: relative;
          z-index: 0;
          width: fit-content;
          max-width: 600px;

          .message__content,
          .message__content span {
            overflow-wrap: anywhere;
          }

          .message__pending, .message__failed, .message__encrypted {
            .icon {
              @apply text-sm;
              @apply text-light-700 dark:text-dark-400;
            }
          }
        }

        &__row {
          @apply flex flex-row gap-2 justify-between;
        }

        &__header {
          @apply flex flex-row items-center gap-2;

          .message__sender {
            @apply font-medium text-base;
          }

          .message__timestamp {
            @apply text-light-700 dark:text-dark-400;
            @apply text-xs uppercase;
          }
        }

        &__avatar {
          @apply absolute;

          z-index: 1;
          top: -18px;
          left: -18px;
          width: 36px;
          height: 36px;

          .avatar {
            @apply flex justify-center items-center text-center;
            @apply text-base text-light-50 dark:text-dark-50;
            @apply border-light-50 dark:border-dark-900;
            @apply rounded-full;

            width: 100%;
            height: 100%;
            border-width: 4px;
            font-size: 14px;

            .avatar__letter {
              vertical-align: middle;
              margin-top: 1px;
            }
          }
        }

        &--self {
          @apply justify-end;

          .message__bubble {
            @apply bg-primary-100 dark:bg-primary-800/50;
            @apply rounded-tl-xl rounded-tr-none;
          }

          .message__avatar {
            right: -18px;
            left: unset;
          }
        }

        &:not(&--self).message--after {
          @apply border-none;

          .message__bubble {
            @apply rounded-l-none;
          }
        }

        &--self.message--after {
          .message__bubble {
            @apply rounded-r-none;
          }
        }

        &--before {
          .message__avatar {
            @apply hidden;
          }
        }
      }
    }
  }

  .chatroom__create {
    @apply flex flex-col justify-center self-center;

    width: 100%;
    max-width: 480px;
    height: 100%;

    .header {
      @apply mb-4;
    }
  }
}
