.page.page__chat {
  @apply flex flex-row items-start gap-3 h-full;
  @apply bg-light-100 dark:bg-dark-900;

  max-height: 100vh;
  align-items: stretch;

  .chat__rooms {
    @apply flex flex-col items-center gap-4;
    @apply rounded-2xl;
    @apply p-6 box-border;
    @apply bg-light-50 dark:bg-dark-800;

    .room {
      @apply flex justify-center items-center;
      @apply font-semibold text-xl;
      @apply rounded-md shadow-sm;
      @apply border-2 outline-none border-light-200 dark:border-dark-700;
      @apply transition;

      width: 50px;
      height: 50px;
      text-decoration: none;

      &:hover {
        @apply shadow-md rounded-lg;
      }

      &:active {
        @apply rounded-xl;
      }

      /* stylelint-disable-next-line selector-class-pattern */
      &.router-link-active {
        @apply rounded-xl shadow-lg shadow-black/30;
        @apply border-primary-500;
        @apply ring-2 ring-offset-2;
        @apply ring-primary-500/75 dark:ring-primary-500/25;
        @apply ring-offset-light-50 dark:ring-offset-dark-900;
      }
    }
  }

  .chat__room {
    @apply flex flex-col flex-1;
    @apply bg-light-50 dark:bg-dark-800;

    overflow: hidden;
    width: 100%;

    .chatroom {
      @apply flex flex-col flex-1;

      max-height: calc(100vh - (16*2px))
    }

    &,
    .room__header {
      @apply rounded-2xl;
    }

    .room__header {
      @apply px-8 py-6 box-border;
      @apply shadow-sm rounded-b-none;
    }

    .room__content {
      @apply p-8 box-border;
      
      position: relative;
      overflow: auto;
      height: 100%;
      
      .room__messages {
        @apply flex flex-col gap-4 justify-end;

        margin-top: auto;
      }

      .message {
        @apply flex flex-col;

        &:not(:last-of-type) {
          @apply pb-2;
          @apply border-b border-b-light-300 dark:border-b-dark-300;
        }

        &__header {
          @apply flex flex-row items-center gap-2;

          .message__sender {
            @apply font-medium text-base;
          }

          .message__timestamp {
            @apply text-light-700 dark:text-dark-400;
            @apply text-xs uppercase;
          }
        }
      }
    }

    .room__components {
      @apply p-8 box-border;
      @apply flex flex-row items-center;
      @apply bg-gradient-to-b from-transparent to-light-50 dark:from-transparent dark:to-dark-900;

      position: relative;
      width: 100%;
      height: 104px;

      .input, input {
        @apply m-0;

        width: 100%;
      }

      .room__send {
        @apply text-primary-500;

        position: absolute;
        right: calc(2rem + 8px);
        
        .icon {
          font-size: 20px;
        }
      }
    }
  }
}
